# runtime temp files
**/__pycache__/
**/*.spec
**/build/
**/dist/
**/venv/

# ide configures
./.idea/

# useless files

#GeneralMethod
/GeneralMethod/gmain.py

#reportwriter
/reportwriter/*
!/reportwriter/ReportWriter.py
!/reportwriter/demo.docx

#Michelson
/Michelson/Michelson2.py

# __pycache__
/__pycache__
/Frank_Hertz/__pycache__
/GeneralMethod/__pycache__
/MillikanOilDrop/__pycache__
/SolarBattery/__pycache__

# outputfile
/SolarBattery/out.xlsx
/Michelson/Michelson_out.docx


